.local/
.deps/
build/
dist/
runtime-logs/
**/bin/
**/obj/
.vs/
.vscode/
.idea/
*.user
*.suo
*.log
*.tmp
*.bak
*.orig
*.rej
*.pdb
*.so
*.dll
*.ffpkg
*.ffpfsc
.DS_Store
Thumbs.db
.pytest_cache/
.mypy_cache/
__pycache__/
*.elf
*.self
*.sprx
*.prx
*.pkg
!runtime/libc.prx
